/* 
    This style sheet stylizes the controls inside our
    Password Manager JavaFX application. Note that controls
    in the UI must have the same class as those below in 
    order to be rendered using those properties.

    Author:	Tirth Darji
    Version:	1.0
*/
.root{
    
}

.bordered_pane {
    -fx-background-color: #aaffaa;
    -fx-background-radius: 5.0;
    -fx-padding: 15;
    -fx-spacing: 10;
    -fx-border-width: 1px;
    -fx-border-color: #77dd77;
}

.sidemenu_style{
    -fx-background-color: #2c919e;
}

.sidemenu_button_style{
    -fx-background-color: #1e6169;
    -fx-text-fill: white;
    -fx-font-size: 14pt;
    -fx-font-weight: bold;
    -fx-border-radius: 15 15 15 15;
    -fx-background-radius: 20 20 20 20;
}

.sidemenu_selected_button{
    -fx-background-color: #0c282b;
}

.sidemenu_button_color{
    -fx-background-color: #1e6169;
}

.passwordpane_style{
    -fx-background-color: #2c919e;
}

.regular_text{
    -fx-font-size:14pt;
}

.step_label {
    -fx-font-size:14pt;
    -fx-text-fill: white;
    -fx-font-weight:bold;
    -fx-padding: 10;
    -fx-spacing: 10;
}

.step_header{
    -fx-background-color: #2c919e;
    -fx-font-size:27pt;
    -fx-text-fill: white;
    -fx-font-weight:bold;
    -fx-padding: 5;
}

.text_field {
    -fx-font-size:10pt;
    -fx-padding: 15;
    -fx-spacing: 10;
}

.button {
    -fx-font-size: 14pt;
    -fx-font-weight: bold;
    -fx-border-radius: 15 15 15 15;
    -fx-background-radius: 20 20 20 20;
}



.update_button {
    -fx-font-size: 14pt;
    -fx-font-weight: bold;
    -fx-border-radius: 15 15 15 15;
    -fx-background-radius: 20 20 20 20;
}

.login_table {
    -fx-font-size:16pt;
}

.user_label{
    -fx-font-size:14pt;
    -fx-font-weight: bold;
}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-font-size: 16pt;
    -fx-font-weight: bold;
}
